---
import { Image } from "astro:assets";
// Wohn-/Schlafzimmer
import livingRoom from "../assets/images/living-room.jpg";
import sofa from "../assets/images/sofa.jpg";
import desk from "../assets/images/desk.jpg";
// Küche
import kitchenDining from "../assets/images/kitchen-dining.jpg";
import inductionHob from "../assets/images/induction-hob.jpg";
import coffeeMachine from "../assets/images/coffee-machine.jpg";
import dishwasher from "../assets/images/dishwasher.jpg";
// Bad
import bathroom from "../assets/images/bathroom.jpg";
import bathroom2 from "../assets/images/bathroom2.jpg";
// Hauswirtschaft & Außen
import washerDryer from "../assets/images/washer-dryer.jpg";
import exterior from "../assets/images/exterior.jpg";
---

<section class="gallery">
  <!-- Wohn-/Schlafzimmer -->
  <Image
    src={livingRoom}
    alt="Wohn-/Schlafzimmer mit TV"
    loading="lazy"
    widths={[400, 720, 1200]}
    sizes="(max-width: 600px) 50vw, 25vw"
    data-lightbox
  />
  <Image
    src={sofa}
    alt="Wohn-/Schlafzimmer: Schlafsofa als Doppelbett"
    loading="lazy"
    widths={[400, 720, 1200]}
    sizes="(max-width: 600px) 50vw, 25vw"
    data-lightbox
  />
  <Image
    src={desk}
    alt="Wohn-/Schlafzimmer: Arbeitsplatz"
    loading="lazy"
    widths={[400, 720, 1200]}
    sizes="(max-width: 600px) 50vw, 25vw"
    data-lightbox
  />
  <!-- Küche -->
  <Image
    src={kitchenDining}
    alt="Küche mit Essplatz"
    loading="lazy"
    widths={[400, 720, 1200]}
    sizes="(max-width: 600px) 50vw, 25vw"
    data-lightbox
  />
  <Image
    src={inductionHob}
    alt="Spüle und Induktionsherd"
    loading="lazy"
    widths={[400, 720, 1200]}
    sizes="(max-width: 600px) 50vw, 25vw"
    data-lightbox
  />
  <Image
    src={coffeeMachine}
    alt="Kaffeepadmaschine"
    loading="lazy"
    widths={[400, 720, 1200]}
    sizes="(max-width: 600px) 50vw, 25vw"
    data-lightbox
  />
  <Image
    src={dishwasher}
    alt="Spülmaschine und Kühlschrank"
    loading="lazy"
    widths={[400, 720, 1200]}
    sizes="(max-width: 600px) 50vw, 25vw"
    data-lightbox
  />
  <!-- Bad -->
  <Image
    src={bathroom}
    alt="Badezimmer mit Dusche"
    loading="lazy"
    widths={[400, 720, 1200]}
    sizes="(max-width: 600px) 50vw, 25vw"
    data-lightbox
  />
  <Image
    src={bathroom2}
    alt="Badezimmer mit WC und Waschtisch"
    loading="lazy"
    widths={[400, 720, 1200]}
    sizes="(max-width: 600px) 50vw, 25vw"
    data-lightbox
  />
  <!-- Hauswirtschaft & Außen -->
  <Image
    src={washerDryer}
    alt="Waschmaschine und Trockner"
    loading="lazy"
    widths={[400, 720, 1200]}
    sizes="(max-width: 600px) 50vw, 25vw"
    data-lightbox
  />
  <Image
    src={exterior}
    alt="Außenansicht des Hauses"
    loading="lazy"
    widths={[400, 720, 1200]}
    sizes="(max-width: 600px) 50vw, 25vw"
    data-lightbox
  />
</section>
