---
import { Image } from "astro:assets";
import livingRoom from "../assets/images/living-room.jpg";
import sofa from "../assets/images/sofa.jpg";
import inductionHob from "../assets/images/induction-hob.jpg";
import kitchenDining from "../assets/images/kitchen-dining.jpg";
import washerDryer from "../assets/images/washer-dryer.jpg";
import bathroom2 from "../assets/images/bathroom2.jpg";
---

<section class="gallery">
  <Image
    src={livingRoom}
    alt="Wohnzimmer mit TV und Dachschräge"
    loading="lazy"
    widths={[400, 720]}
    sizes="(max-width: 600px) 50vw, 25vw"
  />
  <Image
    src={sofa}
    alt="Schlafsofa als Doppelbett"
    loading="lazy"
    widths={[400, 720]}
    sizes="(max-width: 600px) 50vw, 25vw"
  />
  <Image
    src={inductionHob}
    alt="Spüle und Induktionsherd"
    loading="lazy"
    widths={[400, 720]}
    sizes="(max-width: 600px) 50vw, 25vw"
  />
  <Image
    src={kitchenDining}
    alt="Küche mit Essplatz"
    loading="lazy"
    widths={[400, 720]}
    sizes="(max-width: 600px) 50vw, 25vw"
  />
  <Image
    src={washerDryer}
    alt="Waschmaschine und Trockner"
    loading="lazy"
    widths={[400, 720]}
    sizes="(max-width: 600px) 50vw, 25vw"
  />
  <Image
    src={bathroom2}
    alt="Badezimmer mit WC und Waschtisch"
    loading="lazy"
    widths={[400, 720]}
    sizes="(max-width: 600px) 50vw, 25vw"
  />
</section>
